<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AlarmMapper">

<!-- 	<resultMap id="memberSelectMap" type="member">
		<result property="userId" 			column="user_id" 			jdbcType="VARCHAR"/>
		<result property="userName"	column="user_name" 		jdbcType="VARCHAR" />
		<result property="password" 	column="password" 		jdbcType="VARCHAR" />
		<result property="role" 				column="role" 					jdbcType="VARCHAR" />
		<result property="ssn" 				column="ssn" 					jdbcType="VARCHAR" />
		<result property="phone" 			column="cell_phone" 		jdbcType="VARCHAR" />
		<result property="addr" 				column="addr" 					jdbcType="VARCHAR" />
		<result property="email" 			column="email" 				jdbcType="NUMERIC"  />
		<result property="regDate" 		column="reg_date" 			jdbcType="DATE" />
	</resultMap> -->
	<resultMap id="alarmSelectMap" type="alarm">
		<result property="alarmNo" 						column="ALARM_NO" 			jdbcType="INTEGER"/>
		<result property="member.memberId"				column="MEMBER_ID" 			jdbcType="VARCHAR" />
		<result property="alarmType" 					column="ALARM_TYPE" 		jdbcType="INTEGER" />
		<result property="alarmContents" 				column="ALARM_CONTENTS" 	jdbcType="VARCHAR" />
		<result property="alarmCheck" 					column="ALARM_CHECK" 		jdbcType="BOOLEAN" />
		<result property="alarmRegDate" 				column="ALARM_REG_DATE" 	jdbcType="DATE" />
		<result property="community.postNo" 			column="POST_NO" 			jdbcType="INTEGER" />
		<result property="chat.chatNo" 					column="CHAT_NO" 			jdbcType="INTEGER"  />
		<result property="reservation.reservationNo" 	column="RESERVATION_NO" 	jdbcType="VARCHAR" />
		<result property="review.reviewNo" 				column="REVIEW_NO" 			jdbcType="INTEGER" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addAlarm"		parameterType="alarm" >
	 	INSERT INTO zzupzzup.ALARM(MEMBER_ID, ALARM_TYPE, ALARM_CONTENTS, POST_NO, CHAT_NO, RESERVATION_NO, REVIEW_NO)
		VALUES(#{member.memberId}, #{alarmType}, #{alarmContents}, #{community.postNo}, #{chat.chatNo}, #{reservation.reservationNo}, #{review.reviewNo})
	</insert>
	
	<!-- SQL : SELECT -->
	<select id="listAlarm" parameterType="string" resultMap="alarmSelectMap">
		SELECT zzupzzup.MEMBER.MEMBER_ID, ALARM_NO, ALARM_TYPE, ALARM_CONTENTS, ALARM_CHECK, ALARM_REG_DATE, POST_NO, CHAT_NO, RESERVATION_NO, REVIEW_NO
		FROM zzupzzup.ALARM, zzupzzup.MEMBER
		WHERE zzupzzup.MEMBER.MEMBER_ID = zzupzzup.ALARM.MEMBER_ID AND zzupzzup.MEMBER.MEMBER_ID = #{memberId};
	</select>
	
	<update id="updateAlarm" parameterType="map">
		UPDATE zzupzzup.ALARM
		SET ALARM_CHECK = 1
		WHERE zzupzzup.ALARM.MEMBER_ID = #{memberId} AND ALARM_NO = #{alarmNo};
	</update>
	 
</mapper>