<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<!--	mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>

	<!-- 기타 설정정보 :: [MyBatis_Home]/mybatis-3.2.1.pdf 참조 -->
	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	
	<!-- FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	<typeAliases>
		<typeAlias alias="member" type="com.zzupzzup.service.domain.Member"/> 
		<typeAlias alias="restaurant" type="com.zzupzzup.service.domain.Restaurant"/>
		<typeAlias alias="community" type="com.zzupzzup.service.domain.Community"/>
		<typeAlias alias="alarm" type="com.zzupzzup.service.domain.Alarm" />
		<typeAlias alias="review" type="com.zzupzzup.service.domain.Review" />
		<typeAlias alias="hashtag" type="com.zzupzzup.service.domain.HashTag" />
		<typeAlias alias="report" type="com.zzupzzup.service.domain.Report" />
		<typeAlias alias="reservation" type="com.zzupzzup.service.domain.Reservation" />
		<typeAlias alias="order" type="com.zzupzzup.service.domain.Order" />
		<typeAlias alias="search" type="com.zzupzzup.common.Search"/> 
	</typeAliases>
	
	 <!-- SQL Definition :: file include -->
	<mappers>
		<mapper resource="sql/MemberMapper.xml"/> 
		<mapper resource="sql/RestaurantMapper.xml"/>
		<mapper resource="sql/CommunityMapper.xml"/>
		<mapper resource="sql/AlarmMapper.xml"/>
		<mapper resource="sql/ReviewMapper.xml"/>
		<mapper resource="sql/ReportMapper.xml"/>
		<mapper resource="sql/ReservationMapper.xml"/>
	</mappers>

</configuration>