<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReservationMapper">

	<resultMap id="reservationSelectMap" type="reservation">
		<result property="reservationNo"   						column="reservation_no" 			jdbcType="INTEGER"/>
		<result property="reservationNumber"   					column="reservation_number" 		jdbcType="VARCHAR"/>
		<result property="restaurant.restaurantNo"   			column="restaurant_no" 				jdbcType="INTEGER"/>
		<result property="chat.chatNo"   						column="chat_no" 					jdbcType="INTEGER"/>
		<result property="member.memberId"   					column="booker_id" 					jdbcType="VARCHAR"/>
		<result property="planDate"   							column="plan_date" 					jdbcType="DATE"/>
		<result property="planTime"   							column="plan_time" 					jdbcType="VARCHAR"/>
		<result property="fixedDate"   							column="fixed_date" 				jdbcType="DATE"/>
		<result property="memberCount"   						column="member_count" 				jdbcType="INTEGER"/>
		<result property="reservationStatus"   					column="reservation_status" 		jdbcType="INTEGER"/>
		<result property="fixedStatus"   						column="fixed_status" 				jdbcType="BOOLEAN"/>
		<result property="reservationDate"   					column="reservation_date" 			jdbcType="DATE"/>
		<result property="totalPrice"   						column="total_price" 				jdbcType="INTEGER"/>
		<result property="payOption"   							column="pay_option" 				jdbcType="INTEGER"/>
		<result property="payMethod"   							column="pay_method" 				jdbcType="VARCHAR"/>
		<result property="reservationCancelDate"   				column="cancel_date" 				jdbcType="DATE"/>
		<result property="reservationCancelReason"   			column="reservation_cancel_type" 	jdbcType="INTEGER"/>
		<result property="reservationCancelDetail"   			column="reservation_cancel_detail" 	jdbcType="VARCHAR"/>
		<result property="refundStatus"   						column="refund_status" 				jdbcType="BOOLEAN"/>
 		<collection property="order" resultMap="orderSelectMap"/>
 		<collection property="chatMember" resultMap="chatMemberSelectMap"/>	
	</resultMap>
	
	<resultMap id="orderSelectMap" type="order">
		<id property="orderNo"   							column="order_no" 					jdbcType="INTEGER"/>
		<result property="menuTitle"   							column="menu_title" 				jdbcType="VARCHAR"/>
		<result property="orderCount"   						column="order_count" 				jdbcType="INTEGER"/>
		<result property="menuPrice"   							column="menu_price" 				jdbcType="INTEGER"/>
	</resultMap>
	
	<resultMap id="chatMemberSelectMap" type="chatMember">
		<id property="chatNo" column="chat_no" jdbcType="INTEGER"/>
		<result property="member.memberId" column="chat_member_id" jdbcType="VARCHAR"/>
		<result property="member.nickname" column="nickname" jdbcType="VARCHAR"/>
		<result property="readyCheck" column="ready_check" jdbcType="BOOLEAN"/>
		<result property="chatLeaderCheck" column="chat_leader_check" jdbcType="BOOLEAN"/>
		<result property="inOutCheck" column="in_out_check" jdbcType="BOOLEAN"/>
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert id="addReservation"	parameterType="reservation" useGeneratedKeys="true" keyProperty="reservationNo">
	 	INSERT
		INTO RESERVATION(reservation_number, restaurant_no, chat_no, booker_id, plan_date, plan_time, member_count, reservation_status, fixed_status, 
						reservation_date, total_price, pay_option, pay_method, reservation_cancel_type, 
						reservation_cancel_detail, refund_status)
		VALUES (CONCAT(DATE_FORMAT(NOW(), "%Y%m%e%H%i%S"),FLOOR(RAND()*10000)), #{restaurant.restaurantNo}, #{chat.chatNo}, 
				#{member.memberId}, #{planDate}, #{planTime},#{memberCount}, 
				#{reservationStatus}, #{fixedStatus}, NOW(), #{totalPrice}, #{payOption}, #{payMethod},
				#{reservationCancelReason}, #{reservationCancelDetail}, #{refundStatus});

	</insert>
		
	<insert id="addOrder" parameterType="reservation">
	 	INSERT
		INTO RESERVATION_ORDER(reservation_no, menu_title, order_count, menu_price)
		VALUES 
		<foreach collection="order" item="item" separator=",">
			(#{reservationNo}, #{item.menuTitle}, #{item.orderCount}, #{item.menuPrice})
		</foreach>

	</insert>
	
	<insert id="addChatMember" parameterType="reservation">
	 	INSERT
		INTO chat_member_no(reservation_no, chat_no, chat_member_id, nickname,ready_check,chat_leader_check,in_out_check)
		VALUES 
		<foreach collection="chatMember" item="item" separator=",">
			(#{reservationNo}, #{item.member.memberId}, #{item.member.nickname}, #{item.readyCheck}, #{item.chatLeaderCheck}, #{item.inOutCheck})
		</foreach>

	</insert>
	
	
	
	<!-- SQL : SELECT ONE -->
	<!-- ===========상세 목록 조회====== -->
	<select id="getReservation"	parameterType="int"	resultMap="reservationSelectMap">
		select *
			from reservation as r
			Left outer join(select c.chat_no, chat.chat_member_id, chat.nickname
							from chat c Inner join (Select cb.chat_no, cb.chat_member_id, m.nickname
													from chat_member cb, member m
			                                        where cb.chat_member_id = m.member_id) as chat on (c.chat_no = chat.chat_no)) as cm on (r.chat_no = cm.chat_no)
			LEFT OUTER JOIN reservation_order AS ro ON (r.reservation_no = ro.reservation_no)	
			WHERE r.reservation_no = #{reservationNo}
	 </select>
	 
	 
	 
	 <!-- =========관리자======== -->
	
	<!-- <select id="listReservation"	parameterType="map"	resultMap="reservationSelectMap">
		
		SELECT r.reservation_no, r.RESERVATION_NUMBER, r.CHAT_NO, r.RESTAURANT_NO, r.PLAN_DATE, r.PLAN_TIME, r.FIXED_DATE, r.PAY_OPTION, r.RESERVATION_STATUS, ch.nickname, ch.CHAT_MEMBER_ID
			FROM RESERVATION AS r
			LEFT OUTER JOIN (SELECT c.chat_no, cm.chat_member_id, m.nickname
							 FROM chat c, chat_member cm right OUTER JOIN (SELECT member_id, NICKNAME FROM member ) as m on (cm.CHAT_MEMBER_ID = m.member_id)
			                 WHERE c.chat_no = cm.chat_no) AS ch ON (r.chat_no = ch.chat_no)
			LEFT OUTER JOIN reservation_order AS ro ON (r.reservation_no = ro.reservation_no)
			ORDER BY RESERVATION_NO LIMIT #{search.startRowNum}, #{search.pageSize}		
	 </select> -->
	
	<select id="listReviewCheck" parameterType="map" resultType="string">
		select review_no
        from review 
		WHERE member_id = #{member.memberId} AND reservation_no = #{reservationNo}
	</select>
	
	
	  <!-- =========관리자, 유저 하는중======== -->
	
	<select id="listReservation"	parameterType="map"	resultMap="reservationSelectMap">
		
		select *
		FROM ( select reservation_no, reservation_number, chat_no, restaurant_no, plan_date, plan_time, fixed_date, pay_option, reservation_status
		FROM reservation
        ORDER BY RESERVATION_NO DESC LIMIT #{search.startRowNum}, #{search.pageSize}) as r
        LEFT OUTER JOIN (SELECT c.chat_no, cm.chat_member_id, m.nickname
						FROM chat c, chat_member cm right OUTER JOIN (SELECT member_id, NICKNAME FROM member ) as m on (cm.CHAT_MEMBER_ID = m.member_id)
			            WHERE c.chat_no = cm.chat_no) AS ch ON (r.chat_no = ch.chat_no)
		LEFT OUTER JOIN (select menu_title, order_count, reservation_no from reservation_order) AS ro ON (r.reservation_no = ro.reservation_no)
		<choose>
			<when test='member.memberRole == "user"'>
			WHERE ch.chat_member_id = #{member.memberId}
			</when>
		</choose>	
	 </select>
	 
	 <!-- =========업주하는중======== -->
	 <select id="listMyReservation"	parameterType="map"	resultMap="reservationSelectMap">
	 
	 	select *
		FROM ( select reser.reservation_no, reser.reservation_number, reser.chat_no, reser.restaurant_no, reser.plan_date, reser.plan_time, reser.fixed_date, reser.pay_option, reser.reservation_status
		FROM reservation reser Inner Join (select restaurant_no from restaurant where member_id = ' #{member.memberId}') as et on (reser.restaurant_no = et.restaurant_no)
        ORDER BY RESERVATION_NO DESC LIMIT #{search.startRowNum}, #{search.pageSize}) as r
        LEFT OUTER JOIN (SELECT c.chat_no, cm.chat_member_id, m.nickname
						FROM chat c, chat_member cm right OUTER JOIN (SELECT member_id, NICKNAME FROM member ) as m on (cm.CHAT_MEMBER_ID = m.member_id)
			            WHERE c.chat_no = cm.chat_no) AS ch ON (r.chat_no = ch.chat_no)
		LEFT OUTER JOIN (select menu_title, order_count, reservation_no from reservation_order) AS ro ON (r.reservation_no = ro.reservation_no)		
	 		
	 </select>
	
	<!-- =========유저,업주======== -->
	 <update id="updateReservation" parameterType="reservation">
		UPDATE RESERVATION
	   	<set>
	   		FIXED_DATE = now(),
			RESERVATION_STATUS = #{reservationStatus},
			REFUND_STATUS = #{refundStatus},
		<choose>
			<when test='member.memberRole == "user"'>	
           	CANCEL_DATE = now(),
           	
 		  	</when>
 		  	<otherwise>
 		  	FIXED_STATUS = #{fixedStatus},
            RESERVATION_CANCEL_TYPE = #{reservationCancelReason},
            RESERVATION_CANCEL_DETAIL = #{reservationCancelDetail}
 		  	</otherwise>
          </choose>  
	   	</set>
	   	WHERE reservation_no = #{reservationNo}
	</update>
	 
	 
	 <select id="getTotalCount" parameterType="search" resultType="int">
		SELECT count(*)
		FROM Reservation
	</select>
	 
	 
	 
	 
	 
	 
	 
	 
	
	
</mapper>