<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReservationMapper">

	<resultMap id="reservationSelectMap" type="reservation">
		<result property="reservationNo"   						column="reservation_no" 			jdbcType="VARCHAR"/>
		<result property="restaurant.restaurantNo"   			column="restaurant_no" 				jdbcType="INTEGER"/>
		<result property="chat.chatNo"   						column="chat_no" 					jdbcType="INTEGER"/>
		<result property="member.memberId"   					column="booker_id" 					jdbcType="VARCHAR"/>
		<result property="planDate"   							column="plan_date" 					jdbcType="DATE"/>
		<result property="fixedDate"   							column="fixed_date" 				jdbcType="DATE"/>
		<result property="memberCount"   						column="member_count" 				jdbcType="INTEGER"/>
		<result property="reservationStatus"   					column="reservation_status" 		jdbcType="INTEGER"/>
		<result property="fixedStatus"   						column="fixed_status" 				jdbcType="BOOLEAN"/>
		<result property="reservationDate"   					column="reservation_date" 			jdbcType="DATE"/>
		<result property="totalPrice"   						column="total_price" 				jdbcType="INTEGER"/>
		<result property="payOption"   							column="pay_option" 				jdbcType="INTEGER"/>
		<result property="payMethod"   							column="pay_method" 				jdbcType="INTEGER"/>
		<result property="reservationCancelDate"   				column="cancel_date" 				jdbcType="DATE"/>
		<result property="reservationCancelReason"   			column="reservation_cancel_type" 	jdbcType="INTEGER"/>
		<result property="reservationCancelDetail"   			column="reservation_cancel_detail" 	jdbcType="VARCHAR"/>
		<result property="refundStatus"   						column="refund_status" 				jdbcType="BOOLEAN"/>
	</resultMap>
	
	
	<!-- SQL : INSERT -->
	<insert id="addReservation"	parameterType="reservation">
	 	INSERT
		INTO RESERVATION(reservation_no, restaurant_no, chat_no, booker_id, plan_date, fixed_date, member_count, reservation_status, fixed_status, 
						reservation_date, total_price, pay_option, pay_method, cancel_date, reservation_cancel_type, 
						reservation_cancel_detail, refund_status)
		VALUES (CONCAT(DATE_FORMAT(NOW(), "%Y%m%e%H%i%S"),'_',FLOOR(RAND()*1000000000)), #{restaurant.restaurantNo}, #{chat.chatNo}, 
				#{member.memberId}, NOW(), NOW(), #{memberCount}, 
				#{reservationStatus}, #{fixedStatus}, NOW(), #{totalPrice}, #{payOption}, #{payMethod}, NOW(), 
				#{reservationCancelReason}, #{reservationCancelDetail}, #{refundStatus})
	</insert>
	
	
	<!-- SQL : SELECT ONE -->
	 <select 	id="getReservation"	parameterType="String"	resultMap="reservationSelectMap">
		SELECT
		reservation_no, restaurant_no, chat_no, booker_id, plan_date, fixed_date, member_count, reservation_status, fixed_status, 
						reservation_date, total_price, pay_option, pay_method, cancel_date, reservation_cancel_type, 
						reservation_cancel_detail, refund_status		
		FROM reservation 
		WHERE reservation_no = CONCAT(DATE_FORMAT(NOW(), "%Y%m%e%H%i%S"),'_',FLOOR(RAND()*1000000000)
	 </select>
	
	
</mapper>