<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReviewMapper">

	<resultMap id="reviewSelectMap" type="review">
		<result property="member.memberId"   					column="member_id" 				jdbcType="VARCHAR"/>
		<result property="reservation.reservationNo"			column="reservation_no" 		jdbcType="VARCHAR" />
		<result property="reservation.restaurant.restaurantNo"	column="restaurant_no" 			jdbcType="INTEGER" />
		<result property="reviewNo" 							column="review_no" 				jdbcType="INTEGER" />
		<result property="scopeClean" 							column="scope_taste" 			jdbcType="INTEGER" />
		<result property="scopeTaste" 							column="scope_kind" 			jdbcType="INTEGER" />
		<result property="scopeKind" 							column="scope_clean" 			jdbcType="INTEGER" />
		<result property="reviewDetail" 						column="review_detail" 			jdbcType="VARCHAR"  />
		<result property="reviewRegDate" 						column="review_reg_date" 		jdbcType="DATE" />
		<result property="avgScope" 							column="avg_scope" 				jdbcType="DECIMAL" />
		<result property="reviewShowStatus" 					column="review_show_status" 	jdbcType="BOOLEAN" />
		
		<collection property="hashTagNo" ofType="Integer" javaType="list">
			<result column="hashTag_no"/>
		</collection>
		
		<collection property="hashTag" ofType="String" javaType="list">
			<result column="hashTag"/>
		</collection>
		
		<collection property="reviewImage" ofType="String" javaType="list">
			<result column="image"/>
		</collection>
	</resultMap>
	
	<resultMap id="hashTagSelectMap" type="HashMap">
		<result property="testHashtagNo" column="hashtag_no" jdbcType="INTEGER"/>
		<result property="testHashtag" column="hashtag" jdbcType="VARCHAR"/>
	</resultMap>
	
	
	<!-- REVIEW INSERT START -->
	<insert id="addReview"	parameterType="review" useGeneratedKeys="true" keyProperty="reviewNo">
	 	INSERT
		INTO REVIEW(member_id, reservation_no, restaurant_no, review_detail, scope_taste, scope_kind, scope_clean, avg_scope) 
		VALUES ( #{member.memberId}, #{reservation.reservationNo}, #{reservation.restaurant.restaurantNo},#{reviewDetail}, #{scopeTaste}, #{scopeKind}, #{scopeClean}, #{avgScope})
	</insert>
	
	<insert id="addHashTag"	parameterType="review">
		DELETE FROM HASHTAG_LOG WHERE review_no = #{reviewNo};
	
		INSERT
		INTO HASHTAG_LOG(review_no, hashtag_no) 
		VALUES
		<foreach collection="hashTagNo" item="item" separator=",">	
			 (#{reviewNo}, #{item})
  		</foreach>
	</insert>
	
	<insert id="addImage"	parameterType="review">
		DELETE FROM IMAGE WHERE review_no = #{reviewNo};
	
		INSERT
		INTO IMAGE(review_no, image) 
		VALUES
		<foreach collection="reviewImage" item="item" separator=",">	
			 (#{reviewNo}, #{item})
  		</foreach>
	</insert>
	<!-- REVIEW INSERT END -->
	
	<update id="updateReview" parameterType="review">
		UPDATE REVIEW
	   	<set>
	   		review_detail = #{reviewDetail},
			scope_taste	= #{scopeTaste},
			scope_kind = #{scopeKind},
			scope_clean	= #{scopeClean},
			avg_scope = #{avgScope},
			review_show_status = #{reviewShowStatus}
	   	</set>
	   	WHERE review_no = #{reviewNo}
	</update>
	
	<delete id="deleteReview" parameterType="int">
		DELETE FROM HASHTAG_LOG WHERE review_no = #{reviewNo};
		DELETE FROM IMAGE WHERE review_no = #{reviewNo};
		DELETE FROM MARK WHERE review_no = #{reviewNo};
		DELETE FROM REPORT WHERE review_no = #{reviewNo};
		DELETE FROM REVIEW WHERE review_no = #{reviewNo};
	</delete>

	<select id="getReview" parameterType="int" resultMap="reviewSelectMap">
		SELECT * 
		FROM REVIEW AS r 
		INNER JOIN (SELECT review_no, image
            		FROM image) AS i ON (r.review_no = i.review_no)
		INNER JOIN (SELECT review_no, hl.hashtag_no, h.hashtag
					FROM HASHTAG_LOG AS hl, HASHTAG AS h
                    WHERE hl.hashtag_no = h.hashtag_no AND review_no = #{reviewNo}) AS h ON (r.review_no = h.review_no)
		WHERE i.review_no = h.review_no AND r.review_no = i.review_no AND h.review_no = h.review_no AND r.review_no = #{reviewNo}
	</select>
	
	
	<select id="listReview" parameterType="map" resultMap="reviewSelectMap">
		SELECT * 
		FROM (SELECT * 
			  FROM review AS r
			  <choose>
		  	  	<when test="restaurantNo != null">
		  			WHERE r.restaurant_no = #{restaurantNo}
		  		</when>
		  		<when test="memberId != null">
		  			<bind name="id" value="'%'+memberId+'%'"/>
		  			WHERE r.member_id LIKE #{id}
		  		</when>
		  	  </choose>
			  ORDER BY r.review_no limit 0,10) AS r
		INNER JOIN (SELECT image, review_no
					FROM image) AS i ON (r.review_no = i.review_no)
		INNER JOIN (SELECT hl.HASHTAG_no, h.hashtag, review_no 
			FROM HASHTAG_LOG as hl, HASHTAG as h
            WHERE hl.hashtag_no = h.hashtag_no) as hh on(r.review_no = hh.review_no)
	</select>
	
	<select id="listMyLikeReview" parameterType="map" resultMap="reviewSelectMap">
		SELECT * 
		FROM (SELECT * 
			  FROM review AS r 
			  <if test="memberId != null">
				<bind name="id" value="'%'+memberId+'%'"/>
				WHERE r.member_id LIKE #{id}
			  </if>	
			  ORDER BY r.review_no limit 0,10) AS r
		Inner Join (select review_no
					From mark) AS m ON(r.review_no = m.review_no)
		INNER JOIN (SELECT image, review_no
					FROM image) AS i ON (r.review_no = i.review_no)
		INNER JOIN (SELECT hl.HASHTAG_no, h.hashtag, review_no 
			FROM HASHTAG_LOG as hl, HASHTAG as h
            WHERE hl.hashtag_no = h.hashtag_no) as hh on(r.review_no = hh.review_no)
	</select>  
	
	<select id="getLikeCount" parameterType="int" resultType="int">
		SELECT count(review_no)
		FROM MARK
		WHERE review_no = #{value};
	</select>
	
	<select id="listHashTag" parameterType="String" resultMap="hashTagSelectMap">
		SELECT *
		FROM HASHTAG
		WHERE HASHTAG Like CONCAT('%',#{value},'%')
	</select>
	
	<insert id="addLike" parameterType="map">
		INSERT 
		INTO MARK(member_id, review_no) 
		VALUES(#{memberId}, #{reviewNo});
	</insert>
	
	<delete id="deleteLike" parameterType="map">
		DELETE FROM MARK 
		WHERE member_id = #{memberId} AND REVIEW_NO = #{reviewNo};
	</delete>
	
	<select id="getTotalCount" parameterType="search" resultType="int">
		SELECT count(*)
		FROM REVIEW
	</select>
</mapper>