<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReviewMapper">

	<resultMap id="reviewSelectMap" type="review">
		<result property="member.memberId"   			column="member_id" 				jdbcType="VARCHAR"/>
		<result property="reservation.reservationNo"	column="reservation_no" 		jdbcType="VARCHAR" />
		<result property="reviewNo" 					column="review_no" 				jdbcType="INTEGER" />
		<result property="scopeClean" 					column="scope_taste" 			jdbcType="INTEGER" />
		<result property="scopeTaste" 					column="scope_kind" 			jdbcType="INTEGER" />
		<result property="scopeKind" 					column="scope_clean" 			jdbcType="INTEGER" />
		<result property="reviewDetail" 				column="review_detail" 			jdbcType="VARCHAR"  />
		<result property="reviewRegDate" 				column="review_reg_date" 		jdbcType="DATE" />
		<result property="avgScope" 					column="avg_scope" 				jdbcType="DECIMAL" />
		<result property="reviewShowStatus" 			column="review_show_status" 	jdbcType="BOOLEAN" />
	</resultMap>
	
	<!-- REVIEW INSERT START -->
	<insert id="addReview"	parameterType="review" useGeneratedKeys="true" keyProperty="reviewNo">
	 	INSERT
		INTO REVIEW(member_id, reservation_no, review_detail, scope_taste, scope_kind, scope_clean, avg_scope) 
		VALUES ( #{member.memberId}, #{reservation.reservationNo}, #{reviewDetail}, #{scopeTaste}, #{scopeKind}, #{scopeClean}, #{avgScope})
	</insert>
	
	<insert id="addHashTag"	parameterType="review">
		DELETE FROM HASHTAG_LOG WHERE review_no = #{reviewNo};
	
		INSERT
		INTO HASHTAG_LOG(review_no, hashtag_no) 
		VALUES
		<foreach collection="hashTag" item="item" separator=",">	
			 (#{reviewNo}, #{item})
  		</foreach>
	</insert>
	
	<insert id="addImage"	parameterType="review">
	
		DELETE FROM IMAGE WHERE review_no = #{reviewNo};
	
		INSERT
		INTO IMAGE(review_no, image) 
		VALUES
		<foreach collection="reviewImage" item="item" separator=",">	
			 (#{reviewNo}, #{item})
  		</foreach>
	</insert>
	<!-- REVIEW INSERT END -->
	
	<update id="updateReview" parameterType="review">
		UPDATE REVIEW
	   	<set>
	   		review_detail = #{reviewDetail},
			scope_taste	= #{scopeTaste},
			scope_kind = #{scopeKind},
			scope_clean	= #{scopeClean},
			avg_scope = #{avgScope},
			review_show_status = #{reviewShowStatus}
	   	</set>
	   	WHERE review_no = #{reviewNo}
	</update>
	
</mapper>