@charset "UTF-8";

.search-box { margin-bottom: 20px; }
.search-box .jumbotron { padding: 2rem; }
.search-box .search-btn { padding: 0 15px; line-height: 48px; height: 48px; margin-left: -40px; border-top-left-radius: 0; border-bottom-left-radius: 0; }
.search-box .search-btn:before { margin-right: 0; }

.chatting .card-head { position: absolute; top: 0; left: 0; width: 100%; padding: 9px 10px; z-index: 1; }
.chatting .card-head .chat-no { }
.chatting .card-head .chat-state { margin-left: auto; }
.chatting .card-body { position: relative; }
.chatting .card-body .chat-rating-info  { position: absolute; top: 5px; right: 10px; font-size: 12px; }
.chatting .card-body .chat-rating-info i { margin-right: 10px; }
.chatting .card-body p.card-text { margin-bottom: 0; font-size:15px; }
.chatting .card-body .d-flex { flex-direction: row-reverse; }
.chatting .card-body .btn-group .button { margin-right: 10px; }

.modal-body { background-size: cover; filter:alpha(opacity=50); }

/* listChat */
#listChat .thumb-list .card-body h5 { height: 25px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/* addChatView */
#addChatView .row.gtr-uniform { margin-top: 0px; }

/* updateChatView */
#updateChatView .row.gtr-uniform { margin-top: 0px; }

/* updateChat */
#updateChat .row.gtr-uniform { margin-top: 0px; }
#updateChat #updateForm p { font-weight: 400; margin-bottom: 20px; }

/* getChatModal */
#getChatModal .modal-body { background-position: center; }
.get-chat-con { border-radius: 10px; background-color: rgba(255,255,255,0.9); padding: 15px 20px; color: #3d4449; font-size: 1.1em; }

/* getChatEntrance */
.chat-container { border-radius: 10px; border: 1px solid #a1a1a1; }
.chat-contents { flex-grow: 5; border-right: 1px solid #dbdbdb; }
.chat-header { padding: 10px 15px; position: relative; height: 60px; }
.chat-header h3 { margin: 0; }
.chat-header h3 small { font-weight: 300; }
.chat-header .chat-header-util { white-space: nowrap; text-align: right; }
.chat-header .chat-header-util > span { margin-left: 10px; }
.chat-header .svg-btn { display: inline-block; padding: 5px; line-height: 1; border-radius: 3px; transition: all 0.3s; }
.chat-header .chat-header-util .svg-btn.chat-info-button { color: #333; }
.chat-header .chat-header-util .svg-btn.chat-info-button svg { transition: all 0.5s; }
.chat-header .chat-header-util .svg-btn.chat-info-button:hover svg { color: #f56a6a; }
.chat-user .dropmenu { display: inline-block; }
.chat-user .chat-header .dropmenu-list { min-width: auto; top: 43px; left: 50%; margin-left: -55px; }


.chat-body { padding: 20px; flex: 12; }
.chat-contents .chat-body { background-color: #f5f5f5; }
.chat-body .display-container { overflow-y: auto; height: 400px; }
.chat-body .display-container::-webkit-scrollbar {
	width: 6px;
}
.chat-body .display-container::-webkit-scrollbar-thumb {
	height: 20%;
	background-color: #bbb;
	border-radius: 10px;
}
.chat-body .display-container::-webkit-scrollbar-track {
	background-color: #d9d9d9;
}
.chat-body ul { margin: 0; list-style: none; padding: 0; }
.chat-body ul.chatting-list li { padding: 10px; display: flex; justify-content: flex-start; align-items: flex-end; flex-direction: column; }
.chat-body ul.chatting-list li.received { align-items: flex-start; }
.chat-body ul.chatting-list li.system { align-items: center; }
.chat-body ul.chatting-list li .chatProfile { display: flex; flex-direction: row; align-items: center; }
.chat-body ul.chatting-list li.sent .chatProfile { flex-direction: row-reverse; }
.chat-body ul.chatting-list li .chat-message { width: 70%; border-radius: 10px; padding: 15px; background-color: #eee; margin-top: 7px; background-color: #bad1ff; }
.chat-body ul.chatting-list li.sent .chat-message { background-color: #ffe3a5; }
.chat-body ul.chatting-list li.system .chat-message { width: 50%; margin-top: 17px; background-color: #e0e0e0; text-align: center; font-size: 0.8em; padding: 10px; }
.chat-body ul.chatting-list li .chat-message img { max-width: 200px; }
.chatProfile > * { margin-right: 10px; }
.chatProfile img { width: 35px; height: 35px; border-radius: 50%; overflow: hidden; }


.chat-body .user-list li { position: relative; margin-bottom: 10px; padding-left: 0px; }
.chat-body .user-list li.chat-leader:before { content:'방장 표시'; position: absolute; top: -15px; left: 1px; background: url(../images/sub/chat_leader_ico.png) no-repeat center center; width: 32px; height: 32px; font-size: 0; line-height: 0;  }
.chat-body .user-list li.connected:after { content: '접속자 표시'; position: absolute; top:0; left: 0; width: 10px; height: 10px; border-radius: 50%; background-color: #ff4b4b; border: 2px solid #fff; font-size: 0; line-height: 0; }
.chat-body .user-list li .ready_badge { display: none; }
.chat-body .user-list li.readyChk .ready_badge { display:block; position: absolute; top: 17px; left: 24px; width: 15px; height: 15px; background: #5c6bc0; color: #fff; border-radius: 50%; font-size: 8px; text-align: center; border: 1px solid #fff; line-height: 15px; }

.chat-footer { text-align: right; }
.input-container { padding: 15px; }
.input-container textarea { background-color: transparent; border: none; overflow-x: hidden; overflow-y: auto; white-space: pre-wrap; }
.input-container textarea:focus { border: none; box-shadow: none; }
.input-container textarea::-webkit-scrollbar {
	width: 6px;
}
.input-container textarea::-webkit-scrollbar-thumb {
	height: 20%;
	background-color: #bbb;
	border-radius: 10px;
}
.input-container textarea::-webkit-scrollbar-track {
	background-color: #d9d9d9;
}
.input-container .send-button { margin-top: 10px; }

.chat-user { flex-grow: 1; }
.chat-user .chat-header { border-bottom: 1px solid #e8e5dd; }
.chat-user .chat-footer { padding: 15px; }

#getChatEntrance .chat-member-list { list-style: none; padding-left: 0; }
#getChatEntrance .chat-member-list li { display: inline-block; }
#getChatEntrance .chat-member-list li:after { content: ","; }
#getChatEntrance .chat-member-list li:last-child:after { content: ""; }

#getChatEntrance .upload-area .upload-btn { cursor: pointer; }
#getChatEntrance .upload-area .upload-input { position: absolute; left: 0; top: 0; height: 100%; width: 100%; cursor: pointer; opacity: 0; }




@media screen and (max-width: 1680px) {
	.search-box .search-btn{ line-height:40px; height: 40px; }
}

















