@charset "UTF-8";

.star-box {
	display:inline;
	text-align: center;
}

.star-in {
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0;
	text-align: center;
}

.star {
	background: url(/resources/images/sub/star.png);
	display:inline-block;
	width: 36px; height: 33px;
	background-size: contain;
	cursor: pointer;
}

.star-modal {
	background: url(/resources/images/sub/list_star.png);
	display:inline-block;
	width: 30px; height: 28px;
	background-size: contain;
	cursor: pointer;
}

.star-small {
	background: url(/resources/images/sub/list_star.png);
	display:inline-block;
	width: 18px; height: 16px;
	background-size: contain;
	cursor: pointer;
}

.star.on {
	background-image: url(/resources/images/sub/star_on.png);
}

.star-modal.on {
	background-image: url(/resources/images/sub/list_star_on.png);
}

.star-small.on {
	background-image: url(/resources/images/sub/list_star_on.png);
}

@media screen and (max-width: 480px){
	.star { width: 32px; height: 30px; white-space: nowrap;}
	.star-modal { width: 24px; height: 22px; white-space: nowrap;}
	.star-small { width: 14px; height: 12px; white-space: nowrap;}
}

@media screen and (max-width: 1200px){
	.star { width: 32px; height: 30px;}
	.star-modal { width: 24px; height: 22px;}
	.star-small { width: 18px; height: 16px;}
}

textarea {
	resize: none;
}

.hashTag {
	margin-right: 10px;
}

#hashtagBox span {
	margin-right: 5px;
}

.divBox .review-info-bottom a {
 	position: absolute; 
 	bottom: 5px;
}

.divBox .review-info-bottom .review-info-bottom-right {
 	position: absolute; 
 	bottom: 5px; 
 	right: 10px;
}
 
.divBox .review-info-bottom .review-info-bottom-right .likeBox {
 	float: left;
} 

.divBox .review-info-bottom .review-info-bottom-right .likeBox span {
 	margin-right: 15px;
 	margin-left: 5px;
}
 
.divBox .review-report-info { 
 	position: absolute; 
 	top: 5px; 
 	right: 10px; 
 	font-size: 12px; 
}
 
.divBox .review-report-info i {
	margin-right: 10px;
}

.check {
 	fill : red;
}

.starBox .col-md-4 .label {
	font-size: 1.1em;
	text-align: center;
}

/* .starBox .col-md-4 .star_p {
	font-size: 1.0em;
	text-align: center;
} */

.carousel-item {
	background: #dee2e6;
}

.carousel-item .imgBox {
	margin:auto;
	padding : 5px;
	width: 300px;
	height: 250px;
	text-align: center;
	line-height: 250px;
}

.carousel-item .imgBox:after {
	display:inline-block; 
	height:100%; 
	vertical-align:middle;
}

.carousel-item .imgBox img{
	width: 100%;
	vertical-align: middle;
}

.review-modal-top {
	text-align: right;
	padding-right: 0px;
}

.review-modal-top i {
	margin-left: 10px;
}

.bottom-like {
	text-align: right;
	margin-bottom: 10px;
}

.bottom-like span {
	margin-left: 10px;
}

.review-modal-footer {
	justify-content: space-between;
}

.review-modal-footer #reviewUpdate {
	margin-left:auto;
}

.listStarBox .star-in {
	padding-left: 10px;
	padding-top: 3px;
}

.reviewTitle h2 {
	margin-right: 15px;
	float: left;
}

.reviewTitle .star-in {
	padding-top: 6px;
	margin-right: 5px;
	float: left;
}

.review-top-box {
	display: flex;
	justify-content: space-between;
}